<div id="gallery_template">
    <div id="w">
        <div id="content">
            <div id="thumbnails">
                <ul class="clearfix">
                    {{#gallery}}
                        <li><a href="{{img1}}" title="{{title}}"><img src="{{img2}}" alt=":)"></a>
                        </li>
                    {{/gallery}}
                </ul>
            </div>
        </div>
        <!-- @end #content -->
    </div>
    <!-- @end #w -->
</div>