<div id="template3">
    <ul class="pagination class-pagination">
        <li><a onclick="previousPage()"><span aria-hidden="true">&laquo;</span><span class="sr-only" >Previous</span></a>
        </li>
        {{#mass_pagination}}
            <li><a onclick="changePage({{num}})">{{num}}</a></li>
        {{/mass_pagination}}
        <li><a onclick="nextPage()"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
        </li>
    </ul>
</div>