<div class="publication_stile">
    <a href="#close" title="Закрыть" class="close">X</a>

    <h1 class="publication_color" align="left"> Author</h1>
    <input type="text" class="form-control search_form " placeholder="Text" id="author">

    <h1 class="publication_color"> IMG</h1>
    <input type="text" class="form-control search_form " placeholder="Text" id="img">

    <h1 class="publication_color"> Content</h1>
    <input type="text" class="form-control search_form " placeholder="Text" id="content">

    <div class="hr">
        <hr/>
    </div>
    <button type="submit" class="btn btn-default" onclick="addPublication()">Add Publication</button>
</div>
